#include <stdio.h>
#include <stdlib.h>
#include <locale.h>

int main()
{
    double num1, num2, soma, subtracao, multiplicacao, divisao;
    char escolha;

    printf("Olá, digite o primeiro número\n", setlocale(LC_ALL, "Portuguese"));
    scanf("%lf", &num1);
    printf("\nagora digite o segundo número\n");
    scanf("%lf", &num2);
    printf("Seus números são %.2lf e %.2lf", num1, num2);

    printf("O que você quer fazer com esses números?\n");
    printf("adição = a, subtração = s, multiplicação = m, divisão = d\n");
    getchar();
    scanf("%c", &escolha);

       if(escolha == 'a') {
       soma = num1 + num2;
       printf("\nAqui está o resultado: %.2lf\n", soma);

       } else if(escolha == 's') {
       subtracao = num1 - num2;
       printf("\nAqui está o resultado: %.2lf\n", subtracao);

       }else if(escolha == 'm') {
       multiplicacao = num1 * num2;
       printf("\nAqui está o resultado: %.2lf\n", multiplicacao);

       }else if(escolha == 'd') {
       divisao = num1 / num2;
       printf("\nAqui está o resultado: %.2lf\n", divisao);

       }

    return 0;
}

